@media only screen and (max-width: 992px){
    .redes {
        width: 60%;
        margin: 0 auto;
    }

    .img1 img {
        width: 100%;
    }

    .img2 img {
        width: 100%;
    }

    .img3 img {
        width: 100%;
    }

    .img4 img {
        width: 100%;
    }

    .icono1 {
        text-align: center;
    }

}