* {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding-top: 177px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.logo {
    float: left;
    width: 98%;
}

.menu {
    float: left;
    width: 2%;
    margin-right: 0;
    font-size: 20px;
}

.texto1 {
    width: 50%;
    float: left;
    padding-top: 172px;
}

.icono1 {
    width: 50%;
    float: left;
    padding-top: 350px;
    
}

.texto1 h1 {
    font-size: 194px;
    font-weight: bold;
    margin: 0;
}

.texto1 p {
    font-size: 13px;
    color: #aeadae;
}