.fila1 img {
    display: block;
}

.img1 {
    float: left;
    margin: 0;
}

.img2 {
    float: left;
    margin: 0;
}

.img3 {
    float: left;
}

.img4 {
    float: left;
}

.img1 img {
    width: 100%;
}

.img2 img {
    width: 100%;
}

.img3 img {
    width: 100%;
}

.img4 img {
    width: 100%;
}

.img4 img {
    display: block;
}

.img3 img {
    display: block;
}