@media only screen and (max-width: 768px) {
    .texto1 {
        width: 95%;
        text-align: center;
    }

    .icono1 {
        width: 5%;
    }

    .redes {
        width: 77%;
    }
}